h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url="https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg";
}